.image-input{
    max-width: 400px;
    margin: auto;
}

.personal-inputs{
    height: 587px;
    overflow-y: auto;
}

.social-inputs{
    max-height: 750px;
    overflow-y: scroll;
}

// .type-input {
//     max-width: 400px;
//     margin: auto;
// }