.pass-comp {
    max-width: 400px;
    margin: auto;

    img {
        width: 100%;
    }

    a:hover i {
        transform: scale(1.3);
    }
    i {
        transition: .3s;
        font-size: 25px;
    }
}