.pass-comp {
    max-width: 400px;
    margin: auto;

    img {
        width: 100%;
    }

    span {
        cursor: pointer;
    }

    a:hover i {
        transform: scale(1.3);
    }
    span:hover i {
        transform: scale(1.3);
    }
    i {
        transition: .3s;
        font-size: 25px;
    }

    table {
        table-layout: fixed; 
        width: 100%;
    }

    td {
        word-wrap: break-word 
    }
}

.chosen-network{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    word-wrap: break-word 
}