.example-passport{
    max-width: 400px;

    img{
        height: 180px;
    }

    i{
        font-size: 25px;
        margin-left: 5px;
        margin-right: 5px;
    }

    div {
        transition: .5s;
    }
    .hide {
        opacity: 0;
    }
    
}

.home-component{
    max-width: 400px;
}
