.example-passport{
    background-color: white;
    border-radius: 5px;
    max-width: 400px;
    // border: 1px solid rgb(141, 141, 141);
    box-shadow: 0 0 0 1px rgba(20,20,31,.05), 0 1px 3px 0 rgba(20,20,31,.15);

    img {
        height: 180px;
    }

    div {
        i {
            font-size: 25px;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}

.fa-facebook-square{
    color: #1c4c9c;
}

.fa-instagram{
    color: #cd245b;
}

.fa-snapchat-square{
    color: #e0de37;
}

.fa-youtube{
   color: #f80c06; 
}

.fa-envelope-square{
    color: rgb(49, 49, 160);
}

.fa-github{
    color: #323131;
}

.fa-steam{
    color: #031342;
}

.fa-pinterest{
    color: #c61f26;
}

.fa-telegram{
    color: #32a9dd;
}