.example-passport{
    max-width: 400px;

    img{
        height: 180px;
    }

    i{
        font-size: 25px;
        margin-left: 5px;
        margin-right: 5px;
    }

    div {
        transition: .5s;
    }
    .hide {
        opacity: 0;
    }
    
}

.home-component{
    max-width: 400px;
}

.fa-facebook-square{
    color: #1c4c9c;
}

.fa-instagram{
    color: #cd245b;
}

.fa-snapchat-square{
    color: #e0de37;
}

.fa-youtube{
   color: #f80c06; 
}

.fa-envelope-square{
    color: rgb(49, 49, 160);
}

.fa-github{
    color: black;
}

.fa-steam{
    color: #1385b6;
}

.fa-pinterest{
    color: #c61f26;
}

.fa-telegram{
    color: #32a9dd;
}