.settings{
    font-size: 30px;
    padding: 5px;
    border-bottom-left-radius: 5px;

    span{
        cursor: pointer;
        padding-top: 10px;

        img {
            margin: none !important;
            width: 2em !important;
            height: 2em !important;
            // -webkit-filter: grayscale(50%);
            // filter: grayscale(50%);
            transition: .3s;
        }
    }

    span.active{
        img {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        }
    }

    span:hover {
        img {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        }
    }

    i {
        font-size: 20px;
        margin-left: 5px;
        top: 0 !important;
        color: rgb(226, 226, 9);
    }

}
