body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light {
    color: rgb(70, 70, 70);
    background-color: #f6f7f9;
    .box {
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 0 1px rgba(20,20,31,.05), 0 1px 3px 0 rgba(20,20,31,.15);
    }
}

.dark {
    background-color: #191927;
    color: #d6d8e1;
    .box {
        background-color: #222230;
        border-radius: 5px;
        box-shadow: 0 0 0 1px rgba(20,20,31,.05), 0 1px 3px 0 rgba(20,20,31,.15);
    }

    input, input:focus {
        background-color: #2d2d3f;
        border: 1px solid #42425d;
        color: #bdbfc5;
    }
}
